@media screen and (max-width: 1024px) {
  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .navbar-toggler {
    display: block !important;
  }

  .navbar-expand-sm .navbar-collapse {
    display: none !important;
  }

  .navbar-collapse.show {
    display: block !important;
  }

  .navTabDetail {
    display: block !important;
  }

  .navTabDetail > img {
    width: 100%;
  }
}
