@charset "UTF-8";
@media (max-width: 575px) {
  .homeImg {
    max-width: 150px !important;
  }
  .nav-header {
    position: relative;
    z-index: 1;
  }
  .nav-header-logo img {
    max-width: 127px;
  }
  .navbar-toggler {
    display: block;
  }
  .navbar-collapse {
    display: none;
  }
  .navbar-collapse.show {
    display: block;
    z-index: 15;
    margin-bottom: 10px;
  }
  #demo {
    height: 566px;
  }
  #demo .carousel-inner .carousel-item .carousel-caption {
    max-width: 85%;
    left: 13px !important;
    top: 11px !important;
  }
  #navbarDetailSalon .d-flex {
    display: block !important;
  }
  #navbarDetailSchedule .d-flex {
    display: block !important;
  }
  #navbarDetailHumanResource .d-flex {
    display: block !important;
  }
  #navbarDetailBuy .d-flex {
    display: block !important;
  }
  #navbarDetailStorage .d-flex {
    display: block !important;
  }
  #navbarDetailPerson .d-flex {
    display: block !important;
  }
  #navbarDetailReport .d-flex {
    display: block !important;
  }
  .navTabDetail > img {
    width: 100%;
    height: fit-content;
  }
  .navbar-brand {
    width: 70% !important;
  }
  .carousel-item {
    width: 100%;
    height: 100%;
  }
  .navTabDetailDescription {
    margin-top: 1em !important;
    margin-left: 1em !important;
  }
  .mySwiper {
    width: 100% !important;
  }
  #swiperImages {
    padding-bottom: 28px !important;
  }
  #swiperImages > h3 {
    flex-direction: column;
    align-items: center;
  }
  #swipperImages > span {
    white-space: normal;
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
  .mySwiperWrapper {
    width: fit-content;
  }
  .swiper-slide-active {
    z-index: 2;
  }
  #vSalonFunction p {
    display: block !important;
    color: var(--2-f-4858, #2f4858);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 31px;
  }
  #vSalonFunction p span {
    color: var(--color-02, #3bb54a);
  }
  .functionDetail {
    margin-bottom: 5% !important;
  }
  .functionDetail .navTabDetailImg {
    margin-top: 12px;
  }
  #nav-tab .figure {
    width: 100%;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--Gray-6, #f2f2f2);
    display: flex;
    flex-direction: row;
    justify-content: left !important;
    padding-left: 12px;
    margin-left: 0;
  }
  .figure span {
    display: none;
  }
  #vSalonFunction .function-nav {
    margin-bottom: 0;
  }
  .function-image img {
    width: 36px !important;
    padding-right: 12px;
  }
  #nav-tab .figure .figure-caption {
    width: 50%;
    text-align: left;
  }
  .function-narrow {
    margin-left: 80px;
  }
  #vSalonFunction i {
    display: block !important;
  }
  .figure-caption {
    color: var(--Gray-1, #333);
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal;
  }
  .functionDetail .navTabDetail h6 {
    color: var(--2-f-4858, #2f4858);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    margin-top: 20px !important;
    margin-bottom: 14px !important;
  }
  .functionDetail .navTabDetail .navTabDetailDescription p {
    color: #4a6069;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 21px !important; /* 150% */
    text-align: left !important;
    margin: 14px 0 !important;
  }
  .functionDetail {
    display: none;
  }
  .functionDetailIphone {
    display: block !important;
  }
  .functionDetailIphone .navTabDetailImg {
    border-radius: 10px;
    border: 1px solid var(--Color-02, #3bb54a);
  }
  .functionDetailIphone .navTabDetailDescription h6 {
    text-align: left !important;
    color: var(--2-f-4858, #2f4858);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
  }
  .functionDetailIphone .navTabDetailDescription p {
    text-align: left !important;
    color: #4a6069 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 21px !important; /* 150% */
    margin-top: 14px !important;
  }
  .function-space {
    display: none;
  }
  .priceDetail > h3 {
    flex-direction: column;
    align-items: center;
  }
  .priceDetail > span {
    white-space: normal;
  }
  .priceDetail .priceDetail-text {
    display: none;
  }
  .priceDetailGeneral {
    margin-bottom: 0 !important;
    padding-bottom: 38px !important;
  }
  .card {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 28px;
  }
  .structureCheck #structure {
    display: none !important;
  }
  .card hr {
    width: 100%;
  }
  .structureCheck {
    order: 1;
  }
  .appManage {
    margin: -10%;
  }
  .appUser p {
    flex-direction: column;
    align-items: center;
    display: flex !important;
  }
  .appUser > span {
    white-space: normal;
  }
  .appManage {
    width: 100% !important;
    padding-bottom: 6%;
  }
  .appManage .appText {
    display: flex !important;
    text-align: center;
  }
  .appManage .appText p {
    color: var(--2-f-4858, #2f4858);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 150% */
    width: 100%;
  }
  .appManage .appText span {
    color: var(--Color-02, #3bb54a);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }
  .appManage .appText .appDetail {
    color: #4a6069;
    text-align: center;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 24px !important; /* 150% */
    margin-bottom: 12px;
  }
  .appManage .appUser {
    width: 40% !important;
  }
  .appManage .appImagevSalon {
    width: 60% !important;
  }
  .appUser p,
  .appUser span,
  .appUser .function-space {
    display: none !important;
  }
  .appImagevSalon img {
    width: 80%;
    margin: 15px;
  }
  .appIcon {
    width: 85%;
    margin-left: 35%;
  }
  .appManage .appUser .appIcon img {
    width: 80%;
    margin: 15px;
  }
  .appImagevSalon {
    padding-right: 10px !important;
  }
  .commentCustomer {
    margin: 0 !important;
  }
  .commentCustomer .customerIntro .commentCustomerListen {
    color: var(--2-f-4858, #2f4858);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 150% */
  }
  .commentCustomer .customerIntro span {
    color: var(--Color-02, #3bb54a);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }
  .commentCustomer .customerDetail {
    color: #4a6069;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  .cmtSwiper {
    max-width: 100% !important;
  }
  .cmtSlide {
    max-width: 100px;
  }
  .customerService .paraph p {
    color: var(--Color-02, #3bb54a);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
    text-transform: uppercase;
  }
  .customerService .paraph .paraph1 {
    margin-bottom: 0;
    width: 100%;
  }
  .customerService .paraph .paraph2 {
    width: 100%;
  }
  .customerService .customerServiceImage {
    display: block;
    width: 330.941px;
    height: 83.273px;
    flex-shrink: 0;
    margin-top: 107px;
    margin-bottom: 57px;
  }
  .customerService .paraph {
    position: relative;
    padding-bottom: 50px;
  }
  #formRegister .formRegister-div {
    width: 80% !important;
  }
  #formRegister .formRegister-div input {
    width: 25% !important;
  }
  .footer .col-md-3 {
    margin-left: 0% !important;
  }
  .footer .col-md-1 {
    display: none;
  }
  .presentFooter .ImageFooter {
    display: none;
  }
  .presentFooter .presentFooterIntro {
    order: 1;
  }
  .presentFooter .presentContact {
    order: 2;
  }
  .presentFooter .presentFooterLink {
    order: 3;
  }
}
@media (min-width: 576px) and (max-width: 1668px) {
  .nav-header-link {
    max-width: 40%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
  }
  .navbar-toggler {
    display: block !important;
  }
  .navbar-expand-sm #collapsibleNavbar {
    display: none !important;
  }
  .navbar-expand-sm #collapsibleNavbar.show {
    display: block !important;
  }
  #formRegister .formRegister-div {
    width: 60% !important;
  }
  #formRegister .formRegister-div .inputForm {
    width: 40% !important;
  }
  #navbarDetailSalon .d-flex {
    display: block !important;
  }
  #navbarDetailSchedule .d-flex {
    display: block !important;
  }
  #navbarDetailHumanResource .d-flex {
    display: block !important;
  }
  #navbarDetailBuy .d-flex {
    display: block !important;
  }
  #navbarDetailStorage .d-flex {
    display: block !important;
  }
  #navbarDetailPerson .d-flex {
    display: block !important;
  }
  #navbarDetailReport .d-flex {
    display: block !important;
  }
  .navTabDetail > img {
    width: 100%;
    height: fit-content;
  }
}
html,
body {
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: Inter;
}

img:not(.ImageFooter, .imagePresent) {
  width: 100%;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.homeImg {
  max-width: 149px;
  height: 59px;
  flex-shrink: 0;
  flex: 1;
}

.nav-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 38px;
  width: max-content;
}

.nav-item > .nav-link {
  color: var(--color-01, #333) !important;
  padding: 0%;
}

.flag-and-arrow-container {
  display: flex;
  align-items: center;
}

.flag {
  width: 50px; /* Điều chỉnh kích thước của lá cờ */
  margin-right: -2em;
}

.arrow-icon {
  width: 10px; /* Điều chỉnh kích thước của mũi tên đi xuống */
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.btn-navbar-register {
  color: #fff !important; /* Màu chữ mặc định */
  border-radius: 22px !important;
  background: var(--main-color-1, linear-gradient(90deg, #3bb54a 0%, #7ec341 100%));
  max-width: 215px;
  height: 38px;
  flex-shrink: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 187.5% */
  margin-right: 12px;
}

.btn-login {
  border-radius: 33px !important;
  border: 1.5px solid #3bb54a !important;
  width: 115px;
  height: 38px;
  flex-shrink: 0;
  color: #3bb54a !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 187.5% */
}

.nav-header-logo {
  flex: 0 0 auto; /* Không co giãn */
  max-width: 150px;
}

.nav-header-link {
  flex: 1 1 auto; /* Co giãn */
}

#demo {
  height: 566px;
}

.carousel-inner {
  height: 100%;
}

.imgBackground {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption {
  position: relative !important;
  margin-top: 140px;
  margin-right: auto;
}

.carousel-caption p {
  color: var(--2-f-4858, #2f4858);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 150% */
  max-width: 555px;
  text-align: left;
}

.carousel-caption p span {
  color: var(--Color-02, #3bb54a);
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
}

.carousel-caption button {
  max-width: 242px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 36px;
  background: var(--Color-02, #3bb54a);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
  border: none;
  justify-content: left;
  display: block;
  padding: 0 32px;
}

#swiperImages {
  padding-top: 59px;
  padding-bottom: 60px;
  overflow: hidden;
  background-color: #fafafa;
}

#swiperImages > h3 {
  color: var(--2-f-4858, #2f4858);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#swiperImages > h3 > span {
  margin-left: 4px;
  color: #3bb54a !important;
}

#swiperImages .swipperText {
  margin-top: 20px;
  margin-bottom: 40px;
  color: var(--2-f-4858, #2f4858);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.mySwiper {
  max-width: 1200px;
  height: 100%;
}

.swiper-wrapper {
  justify-content: center;
}

.mySwiperSlide {
  max-width: 320px !important;
  height: 400px !important;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .swiperImage {
  margin-top: 78px;
  object-fit: cover;
  max-width: 138.622px;
  height: 138.621px;
}

.swiper-slide .swiper-slide-title {
  color: var(--color-02, #3bb54a);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.swiper-slide .swiper-slide-description {
  flex-shrink: 0;
  color: var(--color-01, #333);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.swiper-button-next {
  border: 1px solid rgb(59, 181, 74);
  border-radius: 50%;
  background-color: #e1f3e3;
  max-width: 45px !important;
  height: 45px !important;
  justify-content: center;
}

.swiper-button-prev {
  border: 1px solid rgb(59, 181, 74);
  border-radius: 50%;
  background-color: #e1f3e3;
  max-width: 45px !important;
  height: 45px !important;
  justify-content: center;
}

.swiper-button-next::after {
  font-size: 26px !important;
  color: rgb(59, 181, 74) !important;
  text-align: center;
  max-width: 26.4px !important;
  height: 26.4px !important;
  flex-shrink: 0;
  fill: #e1f3e3;
  stroke-width: 1px;
  stroke: #3bb54a;
}

.swiper-button-prev::after {
  font-size: 26px !important;
  color: rgb(59, 181, 74) !important;
  text-align: center;
}

.function-title {
  display: none;
}

.function-nav {
  margin: 60px auto;
  display: block;
  text-align: center;
  max-width: 1200px;
}

#nav-tab {
  justify-content: center !important;
  align-items: center;
  text-align: center;
  display: flex;
}

.function-nav figure {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 142px;
}

.function-nav figure span {
  position: absolute;
  height: 39.5px;
  border-right: 2px solid #e0e0e0;
  margin-left: 4.5%;
  margin-top: 2.5%;
  stroke-width: 1px;
  stroke: var(--Gray-5, #e0e0e0);
}

.figure-object {
  margin-left: 27px;
}

figcaption {
  color: var(--color-01, #333) !important;
  font-size: 15px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: normal !important;
  padding-top: 8px;
  width: auto;
  text-align: center;
  justify-content: center;
}

.function-nav .function-space {
  width: 89px;
  height: 3px;
  flex-shrink: 0;
  border-radius: 3px;
  background: var(--color-02, #3bb54a);
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  display: none;
}

.clicked .figure-font {
  color: var(--color-02, #3bb54a) !important;
}

.navTabDetail {
  padding: 0 !important;
  width: 80%;
}

.functionDetail {
  margin-bottom: 105px;
}

.functionDetail img {
  margin-right: 41px;
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--color-02, #3bb54a);
}

.functionDetailIphone {
  display: none;
}

.function-image img {
  width: 50%;
}

.functionDetail h6 {
  color: var(--2-f-4858, #2f4858);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
  margin-top: 60px;
}

.functionDetail p {
  color: #4a6069;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

#vSalonFunction i {
  display: none;
}

.priceDetail {
  padding-top: 64px;
  background-color: #fafafa;
}

.priceDetail h3 {
  text-align: center;
  color: var(--2-f-4858, #2f4858);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.priceDetail h3 span {
  color: var(--color-02, #3bb54a);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.priceDetailGeneral {
  width: 85%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 70px;
}

.priceDetail .priceDetail-text {
  color: #4a6069;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 80px;
}

.structureCheck img {
  border: none;
  width: 394px;
  height: 394px;
  flex-shrink: 0;
}

.basicCheck h3 {
  color: var(--Gray-2, #4f4f4f);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 49px;
}

.priceDetail-for {
  color: #aeaeae;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 33px 37px;
}

.priceDetail-price {
  color: var(--Gray-1, #333);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.priceDetailDes img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 16px;
}

.priceDetailDes p {
  color: var(--4-a-6069, #4a6069);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 160% */
}

hr {
  max-width: 284px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--Gray-4, #bdbdbd);
  justify-content: center;
  display: flex;
}

.buttonTry {
  max-width: 600px;
  max-height: 100px;
  flex-shrink: 0;
  border-radius: 36px;
  background: var(--main-color-1, linear-gradient(90deg, #3bb54a 0%, #7ec341 100%));
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex !important;
  text-align: center;
  color: #fff !important;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 30px !important; /* 150% */
}

.advancedCheck h3 {
  color: #f9c52c;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 49px;
}

.trySoft {
  background-image: url("../img/background.svg");
  max-width: 1920px;
  height: auto;
  background-size: cover;
  background-position: center;
}

.trySoft h2 {
  max-width: 920px;
  text-align: center;
  color: #fff !important;
  text-align: center;
  font-size: 28px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 42px !important; /* 150% */
  padding-top: 39px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.trySoft button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-height: 100px;
  flex-shrink: 0;
  border-radius: 36px;
  border: 2px solid #fff;
  background: var(--Color-02, #3bb54a);
  max-width: 221px;
  padding: 9px 40px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}

.appManage {
  position: relative;
  display: block;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  align-items: center;
}

.appManage p {
  color: var(--2-f-4858, #2f4858);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 80%;
}

.appManage p span {
  color: var(--color-02, #3bb54a);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.appManage .function-space {
  width: 67px;
  height: 3px;
  flex-shrink: 0;
  border-radius: 3px;
  background: var(--color-02, #3bb54a);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
  display: block;
}

.appManage .appDetail {
  color: #4a6069;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}

.appIcon img {
  width: 20%;
  margin-right: 16px;
  margin-bottom: 45px;
}

.appText {
  flex-direction: column;
  align-items: center;
  display: none;
  width: 100%;
}

.appUser > span {
  white-space: normal;
}

.appImagevSalon img {
  width: 100%;
}

.commentCustomer {
  background-image: url("../img/Wixg4b3zza.png");
  background-size: cover;
  padding-bottom: 108px;
}

.customerIntro p {
  color: var(--2-f-4858, #2f4858);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  padding-top: 64px;
}

.customerIntro p span {
  color: var(--color-02, #3bb54a);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customerIntro .customerDetail {
  margin-top: 15px;
  padding: 0;
  color: #4a6069;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.customerIntro .function-space {
  position: relative;
  width: 128px;
  height: 3px;
  flex-shrink: 0;
  border-radius: 3px;
  background: var(--color-02, #3bb54a);
  display: block;
  justify-content: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.cmtSwiper {
  width: 68%;
}

.cmtSlide {
  max-width: 360px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 549px;
  flex-shrink: 0;
}

.cmtSlide .avatar {
  border-radius: 50%;
  max-width: 80%;
  height: 162.897px;
  flex-shrink: 0;
  margin-top: 39px;
  margin-bottom: 10px;
}

.customerName {
  color: var(--color-02, #3bb54a);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 127.778% */
  text-transform: uppercase;
  margin-bottom: 4px !important;
}

.customerJob {
  color: #afaeae !important;
  text-align: center;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 23px !important; /* 143.75% */
}

.space {
  max-width: 80%;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--color-02, #3bb54a) !important;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-02, #3bb54a);
}

.talk {
  max-width: 29px;
  height: 25px;
  flex-shrink: 0;
  fill: #e9e9e9;
  display: block;
  margin-bottom: 11px;
}

.cmtDetail {
  margin: 30px 30px 75px 30px;
  max-width: 355px;
}

.swiper-pagination {
  display: block;
}

.swiper-pagination-bullet-active {
  background-color: #3bb54a !important;
}

.customerService {
  background-image: url("../img/customerUseSalon.svg");
  background-size: cover;
  background-position: center;
  align-items: center;
  height: auto;
}

.customerService .paraph {
  padding-top: 226px;
  display: block;
  align-items: center;
}

.customerService .paraph1,
.customerService .paraph2 {
  color: var(--color-02, #3bb54a);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.customerService .paraph1 {
  max-width: 500px;
}

.customerService .paraph2 {
  max-width: 1200px;
  justify-content: center;
}

.customerService .customerServiceImage {
  display: none;
}

.registerUser-title {
  color: var(--2-f-4858, #2f4858);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 64px;
}

.registerUser-title span {
  color: #efc01c;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.registerUser-detail {
  color: var(--4-a-6069, #4a6069);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

#formRegister {
  margin-left: auto;
  margin-bottom: 65px;
}

.formRegister-div {
  max-width: 710px !important;
  display: flex;
  padding: 4px 4px 4px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 32px;
  border: 1px solid #f2f2f2;
  background: #fff;
  /* Shadow / Smooth */
  box-shadow: 0px 9px 32px 0px rgba(89, 92, 219, 0.05);
}

.input-group-text {
  border: none !important;
  background-color: #fff !important;
  height: 90%;
}

.inputForm {
  max-width: 600px;
  border: none !important;
  color: var(--8-ba-0-a-8, #8ba0a8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.buttonRegister {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 32px !important;
  background: var(--main-color-1, linear-gradient(90deg, #3bb54a 0%, #7ec341 100%));
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
}

.presentFooter {
  background-image: url("../img/footer.svg");
  background-size: cover;
}

.presentFooter-detail {
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
  justify-content: center;
}

.present-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px; /* 95.833% */
  margin-bottom: 12px;
}

.imagePresent {
  max-width: 199px;
  flex-shrink: 0;
  justify-content: left;
  margin-top: 30px;
  margin-bottom: 34px;
}

.presentFooter-detail .present-desc {
  color: #fff;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 23px !important; /* 143.75% */
}

.spacePresent {
  max-width: 36px;
  height: 3px;
  background-color: #3bb54a;
  border-radius: 7px;
  margin-bottom: 24px;
}

footer {
  background: #fff;
  height: 40px;
  text-align: center;
  align-items: center;
  color: var(--677987, #677987);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

footer span {
  color: var(--3-bb-54-a, #3bb54a);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

/*# sourceMappingURL=style.css.map */
