html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

//CSS cho navbar
.nav-item {
  margin-right: 2em;
}

.nav-item > .nav-link {
  color: #333;
}

//Css cho cờ
.flag-and-arrow-container {
  display: flex;
  align-items: center;
}

.flag {
  width: 50px; /* Điều chỉnh kích thước của lá cờ */
  margin-right: -2em;
}

.arrow-icon {
  width: 10px; /* Điều chỉnh kích thước của mũi tên đi xuống */
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

//CSS cho button
.btn {
  margin: 15px;
  width: 115px;
  height: 38px;
  border-radius: 33px;
}

.btn-register {
  color: #fff !important; /* Màu chữ mặc định */
  background: linear-gradient(90deg, #3bb54a, #7ec341);
  background-size: 200% 100%; /* Kích thước gradient */
  background-position: 100% 0; /* Bắt đầu từ phía trái (100%) */
  transition: background-position 0.3s ease; /* Hiệu ứng chuyển dần cho background-position */
}

.btn-login {
  background-size: 200% 100%;
  color: #3bb54a !important;
  background-position: 100% 0;
  box-shadow: inset 0 0 0 1.5px #3bb54a !important;
}

//CSS Swipped image
#swiperImages {
  margin-top: 5em;
  // background-color: #ccc;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 2px solid #ccc; /* Màu xám */
  overflow: hidden;
}

#swiperImages > h3 > span {
  margin-left: 4px;
  color: #3bb54a !important;
}

.mySwiper {
  display: flex;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  transition: transform 0.3s ease;
}

.custom-carousel-item {
  border: 1px solid #000;
  box-sizing: border-box;
  transform: scale(0.5, 0.75);
}

.custom-carousel-item > img {
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #3bb54a; /* Màu nền của khối tròn */
  padding: 3em;
  border-radius: 50% !important; /* Để tạo hình dạng tròn */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px; /* Kích thước chữ */
  cursor: pointer; /* Đổi con trỏ khi hover */
}

.swiper-button-prev {
  margin-right: 10px; /* Khoảng cách giữa nút prev và nút next */
}

.navTabDetail .row {
  margin: 3em;
}

.navTabDetail .row {
  margin: 1em;
}

.navTabDetailImg {
  border-radius: 5%;
  border: 2px solid #3bb54a;
  box-shadow: 2em 3em 3em #e7f6e9;
}

.navTabDetail .row .navTabDetailDescription {
  margin-top: 5em;
}

.priceDetail {
  margin-top: 2em;
}

.priceDetail > h3 > span {
  margin-left: 4px;
  color: #3bb54a !important;
}

.basicCheck {
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  background-color: #ccc;
  top: 60%;
}

.card-body .d-flex {
  margin-bottom: 1.5em;
}

.card-body .d-flex p {
  margin-bottom: 2px;
  margin-left: 4px;
}

